page-item-detail {
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
    }
    .item-detail {
        width: 100%;
        background: white;
    }
    .item-banner {
        height: 100%;
        width: 100%;
    }
    .media-control-buttons {
        height: 4rem;
        width: 14rem;
        font-size: 2.4rem;
        background-color: #99e1d9;
        color: #32292f;
    }
}