// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #32292f;
$background-color:  #f0f7f4;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #705d56,
  secondary:  #70abaf,
  danger:     #f53d3d,
  light:      #99e1d9,
  dark:       #32292f,

  title_text: #99e1d9,
  title_bg:   #32292f,
  tab_text:	  #f0f7f4,
  tab_bg: 	  #32292f,
  tab_active: #99e1d9
);







// App Material Design Variables
// --------------------------------------------------

// Title of the pages

$toolbar-md-title-text-color: map-get($colors, title_text);
$toolbar-background: map-get($colors, title_bg);

// Tabs UI colors

$tabs-background: map-get($colors, tab_bg);
$tabs-md-background: map-get($colors, tab_bg);
$tabs-md-tab-icon-color: map-get($colors, tab_text);
$tabs-md-tab-color-active: map-get($colors, tab_active);
$tabs-md-tab-icon-color-active: map-get($colors, tab_active);
$tabs-md-tab-text-color: map-get($colors, tab_text);

// Loading indicator

$loading-md-background: transparent;
$loading-md-spinner-crescent-color: #32292f;
$loading-md-box-shadow: transparent;





// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
