page-help-support {
    .help-image {
        border: 1px solid #32292f;
    }
    .support-button {
        height: 4rem;
        width: 100%;
        font-size: 2.4rem;
        background-color: #99e1d9;
        color: #32292f;
        border: none;
    }
}