page-list-master {
    .favorite-icon {
        color: #705d56;
    }
    .list-top {
        margin-top: auto;
        position: relative;
    }
    #button-favorite-station {
        background-color: #f0f7f4;
        border: none;
        border-radius: 5px;
    }
    #button-favorite-station:hover {
        background-color: #f0f7f4;
    }
    #favorite-h2 {
        color: #32292f;
    }
    #favorite-p {
        color: #705d56;
    }
}